.wrap {
    max-width: 1000px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.wrap-box {
    float: left;
    width: 25%;
    background-color: tomato;
}

@media screen and (max-width:1200px) {
    .wrap-box {       
        width: 50%;
    }

    .wrap {
        max-width: 800px;
    }
}

@media screen and (max-width:768px) {
    .wrap-box {
        max-width: 768px;
    }
}

@media screen and (max-width:576px) {
    .wrap-box {
        font-size: 15px;
        width: 100%;
    }
    .wrap {
        max-width: 400px;
    }
}