/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    margin: 0;
    padding: 0;
    background-color: RGB(247, 248, 252);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* hedaer --> */
.header {
    width: 100%;
    max-width: 800px;
    height: 200px;
    padding: 50px 100px 30px 100px;
}

.header-wrap {
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.header-box-wrap {
    padding: 20px;
    display: flex;
    flex-direction: row;
    
}

.header-box-60 {
    width: 60%;
    height: 140px;
    padding: 10px;
    border-right: 2px solid rgba(0, 0, 0, 0.09);
}

.header-box-60__profile {
    height: 100%;
    display: flex;
    align-items: center
}

.header-box-wrap img {
    width: 130px;
    height: 90%;
    border-radius: 70px;
    margin-right: 40px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.header-box-60__profile--text h4 {
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
}

.header-box-60__profile--text p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.header-box-60__profile--text--local {
    color: RGB(111, 185, 246);
    font-weight: 600;
}

.header-box-60__profile--text--local {
    margin-bottom: 10px;
}

.header-box-60__profile--text button {
    padding: 10px 30px;
    color: white;
    background-color: RGB(111, 185, 246);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.header-box-40 {
    width: 40%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-box-40__profile--main h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-box-40__profile--text p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* <-- hedaer */

/* nav --> */

.nav {
    width: 100%;
    max-width: 800px;
    height: 50px;
    padding: 0px 100px;
}

.nav-wrap {
    width: 100%;
    height: 40px;
    display: flex;
}

.nav-wrap-10 {
    width: 10%;
    height: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 2px solid RGB(111, 185, 246);
}

.nav-wrap-10 h4 {
    font-size: 18px;
    font-weight: 600;
    color: RGB(111, 185, 246);

}

.nav-wrap-90 {
    width: 90%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/* <-- nav */

/* content-wrap --> */

.content-wrap {
    width: 100%;
    max-width: 800px;
    min-height: 600px;
    padding: 0px 100px;
    display: flex;
    margin-bottom: 50px;
}
    /* aside-left --> */
    .aside-left {
        width: 25%;
        height: 100%;
    }

    .aside-left-box {
        width: 190px;
        height: 60%;
        background-color: white;
        padding: 30px 16px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
        white-space: nowrap;
        box-sizing: border-box;
        line-height: 20px;
    }

    .aside-left-box h4 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .aside-left-box p {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    /*  <-- aside-left  */

    /* main-content --> */
    .main-content {
        width: 50%;
        height: 100%;    
    }

    .main-content-wrap {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 30px 16px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
        white-space: nowrap;
        box-sizing: border-box;
    }

    .main-content-wrap-textbox {
        height: 40%;
        white-space: normal;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .main-content-wrap-textbox h4 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .main-content-wrap-textbox p {
        font-size: 13px;
        line-height: 20px;
    }

    .main-content-wrap-btnbox {
        white-space: normal;
    }

    .main-content-wrap-btnbox h4 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .main-content-wrap-btnbox button {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 8px 16px;
        border-radius: 20px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    /* <-- main-content */

    /* aside-rigth --> */
    .aside-right {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .aside-right-box {
        width: 190px;
        height: 40%;
        background-color: white;
        padding: 30px 16px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
        white-space: nowrap;
        box-sizing: border-box;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aside-right-box i {
        font-size: 60px;
        color: RGB(111, 185, 246);
        margin-bottom: 20px;
    }

    .aside-right-box p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .aside-right-box button {
         border: none;
         background-color: RGB(111, 185, 246);
         padding: 10px 25px;
         color: white;
         border-radius: 5px;
         margin-bottom: 10px;
         cursor: pointer;
    }

    .aside-right-box span {
        color: RGB(111, 185, 246);
        font-size: 14px;
    }

    .aside-right-sub-box {
        height: 50%;
        margin-top: 20px;
        margin-left: 10px;
    }

    .aside-right-sub-box-title {
        font-size: 12px;
        padding-left: 10px;
        padding-bottom: 15px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    .aside-right-sub-box__profiles {
    }

    .aside-right-sub-box__profile {
        display: flex;
        align-items: center;
        margin: 20px 0px;
    }

    .aside-right-sub-box__profile img {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        margin: 0 10px;
    }

    .aside-right-sub-box__profile h4 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    
    .aside-right-sub-box__profile p {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .aside-right-sub-box__profile--text--local {
        color: RGB(111, 185, 246);
        font-size: 12px;
        font-weight: 600;
    }
    /* <-- aside-rigth */

/* <-- content-wrap */

/* media query --> */
@media screen and (max-width:436px) {
    .header {        
        width: 100%;
        max-width: 436px;
        padding: 10px;
        height: 100%;
        box-sizing: border-box;
    }
    
    .header-wrap {        
        width: 100%;        
        margin-left: auto;
        margin-right: auto;
        max-width: 570px;
    }

    .header-box-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .header-box-60 {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        border-right: none;
        margin-bottom: 10px;
    }

    .header-box-40 {
        padding: 0;
    }

    .nav {
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .nav-wrap {
        width: 100%;
    }

    .nav-wrap-10 {
        width: 20%;        
    }

    .nav-wrap-10 h4 {
        font-size: 16px;
    }

    .content-wrap {
        margin-top: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-bottom: 0;
    }
    
    .aside-left, .main-content, .aside-right, .aside-right-box {
        width: 100%;
        margin-bottom: 10px;
    }

    .aside-left-box, .main-content-wrap {
        width: 100%;
        padding-left: 20px;
    }

    .main-content-wrap-textbox {
        padding-bottom: 20px;
    }
    .aside-right-box {
        box-sizing: border-box;
        margin-left: 0px;
    }

    .aside-right-sub-box__profiles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .aside-right-sub-box__profile {
        width: 50%;
    }
}
/* <-- media query  */